$unhinged-white: #E1DFEA;
$off-white: #F1F1F1;
$pale-nimbus: #ECF4E5;
$eggshell: #F3F4F5;
$bone: #E1E9E5;

$sidebar-bg-user: $bone;
$sidebar-bg-admin: $unhinged-white;
$app-bg: $off-white;
$card-bg: $eggshell;
$accent: #3b82f6; // blue for highlights
$text-main: #22223b;
$text-muted: #6b7280;